<section id="landing_background" class="uk-inline">
            <div class="uk-overlay-primary uk-position-cover"></div>
            <div class="uk-overlay uk-position-bottom uk-light">
            <p class="uk-text-lead uk-text-bold">On-trip programmatic platform.</p>
            <p>Use geo-fences for your marketing segmentation</p>
</section>
<section></section>
        {{!-- <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../images/landing.png" uk-img >
            <p class="uk-h4">Cover</p>
        </div> --}}