<section id="landing_background" class="uk-section uk-inline">
    <div class="uk-container uk-container-expand" uk-height-viewport="expand: true">
        <div class="uk-overlay-primary uk-position-cover"></div>
        <div class="uk-overlay uk-position-bottom uk-light">
            <p class="uk-text-lead uk-text-bold">On-trip programmatic platform.</p>
            <p>Use geo-fences for your marketing segmentation</p>
        </div>
    </div>
</section>