<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>

{{!-- <h1>Player</h1>


<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
   console.log("Geolocation is not supported by this browser.");
  }
}

function showPosition(position) {
   console.log( position.coords.latitude + ', ' + position.coords.longitude ) 
}

getLocation()


setTimeout(function() {
  window.location.href = window.location;
}, 30000);

</script> --}}


