


<section class="uk-section-xsmall">
  <div class="uk-container">
    <div class="uk-grid-match" uk-grid>
      <div class="uk-width-expand">
        <div>
          <div>
            <h1 class="uk-flex uk-align-left uk-heading-small">My campaigns</h1>
            <a href="/campaign/new" class="uk-button uk-button-primary">Create campaign</a>
          </div>
          <div class="uk-section-small">
            <div class="uk-grid-match uk-child-width-1-3 uk-grid-small" uk-grid>
              {{#each campaigns as |campaign|}}
              {{> campaignCard campaign}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3">
        <div>
          <h1>Analytics</h1>
        Aquí va el mapa y las analíticas principales
        </div>
      </div>
    </div>
  </div>
</section>