
<a class="uk-button uk-button-default uk-button-small" href="/dashboard">Back</a>
<h1>New campaign</h1>

<div>
  <div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div class="uk-placeholder uk-text-center">Upload your ad file here (.jpeg, .png, .gif) Max: 2mb</div>
  </div>
</div>
