* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

form.auth-form{
  input:invalid{
    box-shadow: 0 0 4px 1px red;
  }
  input:focus:invalid{
    box-shadow: none;
  }
}